nav{background-color: #cfcfcf;margin: 0;padding: 0;border-bottom-right-radius:5px ;
border-bottom-left-radius:5px}
ul{list-style: none;margin: 0;padding: 20px;display: flex; justify-content: space-evenly;}
ul>li{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
ul>li:hover{
    cursor: pointer;
    color:#656565;
    transition-duration: 0.3s;
}