<p>todos works!</p>

<table>
    <thead><tr><th>id</th><th>name</th><th>mail</th></tr></thead>
     <tbody>    
    @if (todo1().length==0){<tr ><td>Loading...</td></tr>
        }
   
        @for (item of todo1() |filterpipe :filter; track item.id) {
            <tr><td>{{item.id}}</td><td  [ngStyle]="{ color: item.id === 1 ? 'red' : 'black' }">{{item.mail}}</td><td>{{item.name  | uppercase}}</td></tr>
        }
    </tbody>
</table>
<form>
    <label>
        filter
    </label>
    <input [(ngModel)]="filter" name="filter">
</form>